.menu button {
    display: flex;
    flex-direction: column;
  
    background-color: white;
    width: 90%;
    border: none;
    padding: 2px 12px;
    border-bottom: 0.5px solid rgb(179, 178, 178);
    margin: 5px;

}

.menu button:last-child {
    border-bottom: none;
}
.residenceMenu button{
    display: flex;
    flex-direction: column;
  
    background-color: white;
    width: 90%;
    border: none;
    padding: 2px 12px;
    border-bottom: 0.5px solid rgb(179, 178, 178);
    margin: 5px;

}
.residenceMenu button:last-child{
    border-bottom: none;
}
