.ticket {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 150px;
    margin-top: 20px;
    outline: solid 2px #d7d5d5;
    border-radius: 10px;
    box-shadow: 2px 5px 2px rgb(236, 233, 233);

}

.flightinfo {
    display: flex;

    width: 80%;
    height: 100%;
}

.flightinfoIcon {


    width: 15%;
    height: 100%;

}

.icon {
    border: solid 0.5px rgb(207, 203, 203);
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    width: 70%;
    margin-right: 18px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.esterdad {


    font-size: larger;
    font-weight: bold;
    padding: 13px;
    color: rgb(57, 57, 205);
    background-color: white;
    width: 100%;
    height: 48px;
}

.flightinfoSystem {
    background-color: rgb(255, 255, 255);
    width: 85%;
    height: 100%;
}

.system {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 35%;
    height: 30%;
    font-weight: bolder;
    font-size: large;
}

.cityTime {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 254, 254);
    width: 80%;
    height: 40%;
    font-size: larger;
    font-weight: bold;
    padding: 0 13px;

}

.law {
    color: rgb(57, 57, 205);
    font-size: larger;
    font-weight: bold;
    padding: 13px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 30%;
}

.costinfo {
    border-right: solid 1px rgb(205, 202, 202);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 20%;
    height: 100%;
}

.costinfo button {
    padding: 10px 40px;
    color: white;
    background-color: #0a3edb;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.costinfospan {
    display: flex;
    flex-direction: row-reverse;

}

.costinfo button:hover {
    color: white;
    background-color: #041751;

}

.logoname {
    font-size: larger;
    text-align: center;
    font-weight: 700;
}