.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  width: 100%;
  height: 290px;
  background-color: aqua;

}

.imageContainer img {
  width: 100%;
  height: 100%;
}

.AppContainer {
  width: 80%;
  height: 280px;
  position: absolute;
  top: 290px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  direction: ltr;

}

.HeaderAppContainer {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 35%;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-color: white;
  border-bottom: 1px solid #d9d9d9;

}

.HeaderAppContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.HeaderAppContainer button {
  border: none;
  background-color: white;
  font-weight: bolder;
  font-size: 25px;
  margin-top: 10px;
  cursor: pointer;
  color: rgb(86, 86, 86);
}

.searchbox {
  position: absolute;
  top: 430px;
  right: 240px;
  text-align: center;
}
